
.header {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .header_container {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    .logo__box {
      width: 17%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        width: 100%;
        border-right: 0.7px solid #aaa;
        padding: 0px 40px 0 0;
      }
    }
    .navbar {
      width: 40%;
      display: flex;
      justify-content: space-between;
      list-style: none;
      a {
        text-decoration: none;
        color: gray;
        font-weight: 500;
        font-size: 18px;
        transition: 0.3s all linear;
        border-bottom: 0.3px solid transparent;
        &:hover {
          color: rgb(177, 177, 177);
          border-bottom: 0.3px solid rgb(177, 177, 177);
        }
      }
    }
    .quote {
      width: 20%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      a {
        text-decoration: none;
        padding: 10px 30px;
        background-color: #47bf6f1a;
        color: #31a357;
        border-radius: 6px;
        transition: 0.4s all linear;
        font-size: 20px;
        &:hover {
          color: #fff;
          background-color: #31a357;
        }
      }
    }
    .active {
      a {
        color: #fff;
        background-color: #31a357;
      }
    }
    .colapse_menu {
      display: none;
    }
  }
}
@media (max-width: 1440px) {
  .header {
    .header_container {
      width: 90%;
    }
  }
}
@media (max-width: 1024px) {
  .get_call {
    position: fixed;
    right: 40px;
    bottom: 80px;
    z-index: 6;
    padding: 5px;
    img {
      width: 40px;
      height: 40px;
      animation-name: call;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
  }
  .header {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .header_container {
      width: 90%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      .logo__box {
        width: 37%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
          width: 230px;
          border-right: 0.7px solid #aaa;
          padding: 0px 40px 0 0;
        }
      }
      .colapse_menu {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        .bar_btn {
          color: #31a357;
          font-size: 28px;
          z-index: 1000;
        }
      }
      .navbar {
        width: 40%;
        display: none;
        justify-content: space-between;
        list-style: none;
        a {
          text-decoration: none;
          color: gray;
          font-weight: 500;
          font-size: 18px;
        }
      }
      .nav_1024 {
        width: 25%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10% 3% 40% 0;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        background: rgb(19, 19, 19);
        justify-content: flex-start;
        z-index: 999;
        transition: 0.4s all linear;
        transform: translateX(-100%);
        animation-name: bars;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        .nav_link {
          width: 100%;
          padding: 15px 20px;
          border-bottom: 0.3px solid #777;
          z-index: 999;
        }
      }
      .shape {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.633);
        position: fixed;
        top: 0;
        left: -200%;
        margin: 0;
        z-index: 900;
        animation-name: bars;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
      }
      .quote {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        a {
          text-decoration: none;
          padding: 10px 20px;
          background-color: #47bf6f1a;
          color: #31a357;
          border-radius: 6px;
        }
      }
    }
  }
}
@keyframes bars {
  to {
    transform: translate(0);
  }
}
@media (max-width: 768px) {
  .header {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .header_container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      .logo__box {
        width: 37%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
          width: 180px;
          border-right: 0.7px solid #aaa;
          padding: 0px 40px 0 0;
        }
      }

      .shape {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.633);
        position: fixed;
        top: 0;
        left: -200%;
        margin: 0;
        z-index: 900;
        animation-name: bars;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
      }
      .colapse_menu {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        .bar_btn {
          color: #31a357;
        }
      }
      .navbar {
        width: 40%;
        display: none;
        justify-content: space-between;
        list-style: none;
        a {
          text-decoration: none;
          color: gray;
          font-weight: 500;
          font-size: 18px;
        }
      }
      .nav_1024 {
        width: 50%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10% 8% 60% 0;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        background: rgb(19, 19, 19);
        z-index: 999;
        transition: 0.4s all linear;
        transform: translateX(-100%);
        animation-name: bars;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        justify-content: flex-start;
        .nav_link {
          width: 100%;
          padding: 15px 20px;
          border-bottom: 0.3px solid #777;
          z-index: 999;
        }
      }
      .quote {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        z-index: 1000;
        bottom: 20%;
        a {
          text-decoration: none;
          padding: 10px 20px;
          background-color: #47bf6f1a;
          color: #31a357;
          border-radius: 6px;
        }
      }
    }
  }
}
