.hero {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    img {
      filter: contrast(175%) brightness(103%);
    }
  }
  .sliders {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 1s all linear;
    .sliders_item {
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transition: 1.5s all linear;

      .img0 {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 1.5s all linear;
        animation-name: move1;
        animation-duration: 22s;
        animation-fill-mode: forwards;
        background-blend-mode: hard-light;
        z-index: 4;
        top: 0;
        filter: grayscale(100%);
      }
      .img-a0 {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition: 1.5s all linear;
        filter: contrast(140%);
        animation-name: move;
        animation-duration: 22s;
        animation-fill-mode: forwards;
        z-index: 4;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .img-1 {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 1.5s all linear;
        animation-name: move1;
        animation-duration: 8s;
        animation-fill-mode: forwards;
        background-blend-mode: hard-light;
        z-index: 4;
        transform: translateX(-100%);
        top: 0;
        filter: grayscale(100%);
      }
      .img-a-1 {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-200%);
        transition: 1.5s all linear;
        filter: contrast(140%);

        animation-name: move;
        animation-duration: 8s;
        animation-fill-mode: forwards;
        z-index: 4;
      }
      .img3 {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 1.5s all linear;
        animation-name: move1;
        animation-duration: 88s;
        animation-fill-mode: forwards;
        background-blend-mode: hard-light;
        z-index: 4;
        transform: translateX(-100%);
        top: 0;
        filter: grayscale(100%);
      }
      .img-a3 {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-200%);
        transition: 1.5s all linear;
        filter: contrast(140%);

        animation-name: move;
        animation-duration: 88s;
        animation-fill-mode: forwards;
        z-index: 4;
      }
    }
  }
}

@keyframes move {
  0% {
    transform: translateX(0) scale(1);
  }
  30% {
    transform: translateX(-100%) scale(1);
  }
  60% {
    transform: translateX(0%) scale(1);
  }
  100% {
    transform: translateX(0%) scale(1.2);
  }
}
@keyframes move1 {
  0% {
    transform: translateX(100%);
  }
  30% {
    transform: translateX(0%);
  }
  60% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
