.section3 {
  
  .container_box {
    width: 100%;
    height: 800px;
    color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .box_wrap {
      background: rgba(0, 0, 0, 0.5);
      padding: 20px;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .wrap_title {
      color: #ffffff;
      z-index: 2;
    }
    .shape {
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 2;
      .line {
        height: 2px;
        background-color: #ffffff;
        width: 48%;
        display: block;
      }
      i {
        color: rgb(250, 183, 2);
        transform: rotate(45deg);
      }
    }
    .corusel_box {
      width: 70%;
      height: 400px;
      margin: 50px 0;
      background-color: transparent;
      z-index: 3;
      overflow: hidden;
      display: flex;
      position: relative;
      .slider_card {
        transition: 0.6s all linear;
        margin: 20px;
        width: 400px;
        height: 90%;
        position: absolute;
      }
    }
    .navigation {
      width: 85%;
      display: flex;
      justify-content: space-between;
      z-index: 2;
      position: absolute;
      top: 50%;
      span {
        color: #ffffff;
        padding: 20px;
        background-color: #00000085;
        transition: 0.4s all linear;
        &:hover {
          color: rgb(250, 183, 2);
        }
      }
    }
    .pagination {
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
      .dot {
        background-color: #ffffff;
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 10px;
      }
      .active {
        background-color: rgb(250, 183, 2);
      }
    }
  }
}

@media (max-width: 1024px) {
  .section3 {
    
    .container_box {
      width: 100%;
      height: 800px;
      color: #00000080;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .box_wrap {
        background: rgba(0, 0, 0, 0.5);
        padding: 20px;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .wrap_title {
        color: #ffffff;
        z-index: 2;
      }
      .shape {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        .line {
          height: 2px;
          background-color: #ffffff;
          width: 48%;
          display: block;
        }
        i {
          color: rgb(250, 183, 2);
          transform: rotate(45deg);
        }
      }
      .corusel_box {
        width: 90%;
        height: 400px;
        margin: 50px 0;
        background-color: #ffffff;
        z-index: 3;
        overflow: hidden;
        display: flex;
        position: relative;
        .slider_card {
          transition: 0.6s all linear;
          margin: 20px;
          width: 400px;
          height: 90%;
          position: absolute;
        }
      }
      .navigation {
        width: 85%;
        display: flex;
        justify-content: space-between;
        z-index: 4;
        position: absolute;
        top: 50%;
        span {
          color: #ffffff;
          padding: 20px;
          background-color: #00000085;
          transition: 0.4s all linear;
          &:hover {
            color: rgb(250, 183, 2);
          }
        }
      }
      .pagination {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        .dot {
          background-color: #ffffff;
          display: block;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          margin: 10px;
        }
        .active {
          background-color: rgb(250, 183, 2);
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .section3 {
    
    .container_box {
      width: 100%;
      height: 800px;
      color: #00000080;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .box_wrap {
        background: rgba(0, 0, 0, 0.5);
        padding: 20px;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .wrap_title {
        color: #ffffff;
        z-index: 2;
      }
      .shape {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        .line {
          height: 2px;
          background-color: #ffffff;
          width: 48%;
          display: block;
        }
        i {
          color: rgb(250, 183, 2);
          transform: rotate(45deg);
        }
      }
      .corusel_box {
        width: 90%;
        height: 200px;
        margin: 50px 0;
        background-color: #ffffff;
        z-index: 3;
        overflow: hidden;
        display: flex;
        position: relative;
        .slider_card {
          transition: 0.6s all linear;
          margin: 20px;
          width: 300px;
          height: 80%;
          position: absolute;
        }
      }
      .navigation {
        width: 85%;
        display: flex;
        justify-content: space-between;
        z-index: 4;
        position: absolute;
        top: 50%;
        span {
          color: #ffffff;
          padding: 20px;
          background-color: #00000085;
          transition: 0.4s all linear;
          &:hover {
            color: rgb(250, 183, 2);
          }
        }
      }
      .pagination {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        .dot {
          background-color: #ffffff;
          display: block;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          margin: 10px;
        }
        .active {
          background-color: rgb(250, 183, 2);
        }
      }
    }
  }
}
